# ==============================================================================
# SecurePE — Environment Configuration Template
# ==============================================================================

# Next.js Server & Application Settings
NEXT_PUBLIC_APP_NAME="SecurePE"
NEXT_PUBLIC_APP_TAGLINE="Think Before You Scan."
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000"

# Firebase Serverless Configuration (Project: ssn-university)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCDpxxF0s_32lp7sbhpu6mkY5VQGCtyLeE"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="ssn-university.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="ssn-university"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="ssn-university.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="665415780653"
NEXT_PUBLIC_FIREBASE_APP_ID="1:665415780653:web:9ec0a575d2d27d35d1aba4"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-XNTSD4EJYE"

# Python FastAPI Engine Fallback (Optional)
BACKEND_FASTAPI_URL="http://127.0.0.1:8000"
